body {
    background-image: url('images/bgg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1a1f2b;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
    margin-left: 20px;
    color: #9c9c9c;
}

.nav-link:hover {
    color: white;
}