body {
    background-color: #131721;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url('images/backgrounds/ceiling.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(8px);
    transform: scale(1.05);
}

body.home-entry::before {
    animation: subtle-zoom 1s ease-out forwards;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
    margin-left: 20px;
    color: #9c9c9c;
}

.nav-link:hover {
    color: white;
}

.ig-blur {
    filter: blur(4px);
}

@keyframes subtle-zoom {
    from {
        /*opacity: 0;*/
        transform: scale(1);
    }
    /*10% {
        opacity: 1;
    }*/
    to {
        transform: scale(1.05);
    }
}