body {
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #574141;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
    margin-left: 20px;
    color: #c4c4c4;
}

.nav-link:hover {
    color: white;
}