body {
    background-color: #131721;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url('../images/backgrounds/side.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(6px) brightness(.8);
    transform: scale(1.05);
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
    margin-left: 10px;
    color: #ffffff;
}

.nav-link:hover {
    color: rgb(255, 208, 187);
}



.card-img {
    height: 200px;
    object-fit: cover;
}



.recent-img {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.carousel-img {
    transition: transform 0.6s ease-in-out;
    
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.carousel-item {
    overflow: hidden;
}

.carousel-item:hover .carousel-img {
    transform: scale(1.05);
}

.carousel-caption-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(19, 23, 33, 0.9));
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}